---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentFrame from "../components/ContentFrame.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection('posts');
const activePosts = allPosts.filter((post: CollectionEntry<'posts'>) => !import.meta.env.PROD || !post.data.draft);
const sortedPosts = activePosts.sort((a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const posts = sortedPosts;
const pageTitle = "Blog";
---


<BaseLayout pageTitle={pageTitle}>
	<ContentFrame  chapterTitle={pageTitle} rubi="ブログ">
		<div slot="chapter-content" class="chapter-box">
			<div class="chapter-content">
				<ul class="blog-list">
					{posts.map((post) => <BlogPost postDate={post.data.pubDate} img_url={post.data.image?.url} title={post.data.title} url={`/posts/${post.slug}`} />)}
				</ul>
			</div>
		</div>
	</ContentFrame>
</BaseLayout>
