---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
import ContentFrame from "../components/ContentFrame.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/button.astro";
import BlogPost from "../components/BlogPost.astro";
import NewsPost from "../components/NewsPost.astro";
import WorkPost from "../components/WorkPost.astro";
import SocialLink from "../components/SocialLink.astro";

const pageTitle = "Home";

const allPosts = await Astro.glob("../pages/posts/*.md");
const sortedPosts = allPosts.sort(
    (a, b) =>
        new Date(b.frontmatter.pubDate).valueOf() -
        new Date(a.frontmatter.pubDate).valueOf(),
);
const posts = sortedPosts.slice(0, 4);
const allNews = await Astro.glob("../pages/news/*.md");
const sortedNews = allNews.sort(
    (a, b) =>
        new Date(b.frontmatter.pubDate).valueOf() -
        new Date(a.frontmatter.pubDate).valueOf(),
);
const news = sortedNews.slice(0, 4);

const allWorks = await Astro.glob("../pages/works/*.md");
const sortedWorks = allWorks.sort(
    (a, b) =>
        new Date(b.frontmatter.pubDate).valueOf() -
        new Date(a.frontmatter.pubDate).valueOf(),
);
const works = sortedWorks.slice(0, 4);
const tags = [...new Set(allWorks.map((post: any) => post.frontmatter.type).flat())];

---

<BaseLayout pageTitle={pageTitle}>
    <Hero slot="hero" />
    <ContentFrame chapterTitle="Works" rubi="作品">
        <div slot="sub-menu" class="tags">
            <button class="tag filter-btn active" data-filter="all">All</button>
            {tags.map((tag) => (   
                <button class="tag filter-btn" data-filter={tag}>{tag}</button>
            ))}
        </div>
        <div slot="chapter-content" class="chapter-box">
            <div class="chapter-content">
                <ul class="work-list">
                    {
                        works.map((work) => (
                            <WorkPost
                                pubyear={work.frontmatter.year}
                                img_url={work.frontmatter.image.url}
                                work_type={work.frontmatter.type}
                                title={work.frontmatter.title}
                                url={work.url}
                            />
                        ))
                    }
                </ul>
            </div>
            <Button buttonName="View All" link="/work" />
        </div>
    </ContentFrame>
    <ContentFrame chapterTitle="About" rubi="私について">
        <div slot="chapter-content" class="chapter-box">
            <div class="chapter-content intro-chapter">
                <div class="intro-card">
                    <div class="card-main">
                        <div class="card-head">
                            <div class="card-img">
                                <img src="izuchi-logo2.svg" alt="プロフィール画像" />
                            </div>
                            <div class="card-text">
                                <p class="dev-name">Ryousuke</p>
                            </div>
                        </div>
                        <p class="intro-text">
                            大学4年生です。人工知能・データ分析・プログラミングを学んでいます。
                        </p>
                    </div>
                    <!-- <Button buttonName="View More" link="/about" /> -->
                     <div class="button-container">
                        <div class="button-body intro">
                            <a href="/about">View More</a>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </ContentFrame>
    <ContentFrame chapterTitle="News" rubi="ニュース">
        <div slot="chapter-content" class="chapter-box">
            <div class="chapter-content">
                <ul class="news-list">
                    {
                        news.map((news) => (
                            <NewsPost
                                postDate={news.frontmatter.pubDate}
                                title={news.frontmatter.title}
                                url={news.url}
                            />
                        ))
                    }
                </ul>
            </div>
            <Button buttonName="View All" link="/news" />
        </div>
    </ContentFrame>
    <ContentFrame chapterTitle="Blog" rubi="ブログ">
        <div slot="chapter-content" class="chapter-box">
            <div class="chapter-content">
                <ul class="blog-list">
                    {
                        posts.map((post) => (
                            <BlogPost
                                postDate={post.frontmatter.pubDate}
                                img_url={post.frontmatter.image.url}
                                title={post.frontmatter.title}
                                url={post.url}
                            />
                        ))
                    }
                </ul>
            </div>
            <Button buttonName="View All" link="/blog" />
        </div>
    </ContentFrame>
    <ContentFrame chapterTitle="Links" rubi="リンク">
        <div slot="chapter-content" class="chapter-box">
            <div class="chapter-content">
                <ul class="link-list">
                    <SocialLink
                        platformURL="https://x.com/izuchi_main"
                        platformName="X(Twitter)"
                    />
                    <SocialLink
                        platformURL="https://github.com/jorichou"
                        platformName="GitHub"
                    />
                    <SocialLink
                        platformURL="https://www.kaggle.com/izuchi24"
                        platformName="Kaggle"
                    />
                    <SocialLink
                        platformURL="https://atcoder.jp/users/izuch"
                        platformName="Atcoder"
                    />
                </ul>
            </div>
        </div>
    </ContentFrame>
</BaseLayout>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const buttons = document.querySelectorAll('.filter-btn');
        const works = document.querySelectorAll('.work-item');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                // Update active state
                buttons.forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');

                // Filter logic
                const filterValue = button.getAttribute('data-filter');
                works.forEach((work) => {
                    const type = work.getAttribute('data-type');
                    const el = work as HTMLElement; // cast to HTMLElement properly 
                    if (filterValue === 'all' || type === filterValue) {
                        el.style.display = '';
                    } else {
                        el.style.display = 'none';
                    }
                });
            });
        });
    });
</script>
