---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
import ContentFrame from "../components/ContentFrame.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/button.astro";
import BlogPost from "../components/BlogPost.astro";
import NewsPost from "../components/NewsPost.astro";
import WorkPost from "../components/WorkPost.astro";
import SocialLink from "../components/SocialLink.astro";

const pageTitle = "Home";

const allPosts = await getCollection('posts');
const activePosts = allPosts.filter((post: CollectionEntry<'posts'>) => !import.meta.env.PROD || !post.data.draft);
const sortedPosts = activePosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const posts = sortedPosts.slice(0, 4);

const allNews = await getCollection('news');
const activeNews = allNews.filter((news: CollectionEntry<'news'>) => !import.meta.env.PROD || !news.data.draft);
const sortedNews = activeNews.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const news = sortedNews.slice(0, 4);

const allWorks = await getCollection('works');
const activeWorks = allWorks.filter((work: CollectionEntry<'works'>) => !import.meta.env.PROD || !work.data.draft);
const sortedWorks = activeWorks.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const works = sortedWorks.slice(0, 4);
const tags = [...new Set(activeWorks.map((post: CollectionEntry<'works'>) => post.data.type).flat())];
---

<BaseLayout pageTitle={pageTitle}>
    <Hero slot="hero" />
    <ContentFrame chapterTitle="Works" rubi="作品">
        <div slot="sub-menu" class="tags">
            <button class="tag filter-btn active" data-filter="all">All</button>
            {tags.map((tag) => (   
                <button class="tag filter-btn" data-filter={tag}>{tag}</button>
            ))}
        </div>
        <div slot="chapter-content" class="chapter-box">
            <div class="chapter-content">
                <ul class="work-list">
                    {
                        works.map((work) => (
                            <WorkPost
                                pubyear={work.data.year}
                                img_url={work.data.image?.url}
                                work_type={work.data.type}
                                title={work.data.title}
                                url={`/works/${work.slug}`}
                            />
                        ))
                    }
                </ul>
            </div>
            <Button buttonName="View All" link="/work" />
        </div>
    </ContentFrame>
    <ContentFrame chapterTitle="About" rubi="私について">
        <div slot="chapter-content" class="chapter-box">
            <div class="chapter-content intro-chapter">
                <div class="intro-card">
                    <div class="card-main">
                        <div class="card-head">
                            <div class="card-img">
                                <img src="izuchi-logo2.svg" alt="プロフィール画像" />
                            </div>
                            <div class="card-text">
                                <p class="dev-name">Ryousuke</p>
                            </div>
                        </div>
                        <p class="intro-text">
                            大学4年生です。人工知能・データ分析・プログラミングを学んでいます。
                        </p>
                    </div>
                    <!-- <Button buttonName="View More" link="/about" /> -->
                     <div class="button-container">
                        <div class="button-body intro">
                            <a href="/about">View More</a>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </ContentFrame>
    <ContentFrame chapterTitle="News" rubi="ニュース">
        <div slot="chapter-content" class="chapter-box">
            <div class="chapter-content">
                <ul class="news-list">
                    {
                        news.map((item) => (
                            <NewsPost
                                postDate={item.data.pubDate}
                                title={item.data.title}
                                url={`/news/${item.slug}`}
                            />
                        ))
                    }
                </ul>
            </div>
            <Button buttonName="View All" link="/news" />
        </div>
    </ContentFrame>
    <ContentFrame chapterTitle="Blog" rubi="ブログ">
        <div slot="chapter-content" class="chapter-box">
            <div class="chapter-content">
                <ul class="blog-list">
                    {
                        posts.map((post) => (
                            <BlogPost
                                postDate={post.data.pubDate}
                                img_url={post.data.image?.url}
                                title={post.data.title}
                                url={`/posts/${post.slug}`}
                            />
                        ))
                    }
                </ul>
            </div>
            <Button buttonName="View All" link="/blog" />
        </div>
    </ContentFrame>
    <ContentFrame chapterTitle="Links" rubi="リンク">
        <div slot="chapter-content" class="chapter-box">
            <div class="chapter-content">
                <ul class="link-list">
                    <!-- <SocialLink
                        platformURL="https://x.com/izuchi_main"
                        platformName="X(Twitter)"
                    /> -->
                    <SocialLink
                        platformURL="https://www.facebook.com/profile.php?id=100090539947363&locale=ja_JP"
                        platformName="Facebook"
                    />
                    <SocialLink
                        platformURL="https://www.linkedin.com/in/%E6%B6%BC%E4%BB%8B-%E7%94%B0%E4%B8%AD-277486412/"
                        platformName="LinkedIn"
                    />
                    <SocialLink
                        platformURL="https://github.com/jorichou"
                        platformName="GitHub"
                    />
                    <SocialLink
                        platformURL="https://www.kaggle.com/izuchi24"
                        platformName="Kaggle"
                    />
                    <SocialLink
                        platformURL="https://atcoder.jp/users/izuch"
                        platformName="Atcoder"
                    />
                    <SocialLink
                        platformURL="https://researchmap.jp/ryo-suke"
                        platformName="researchmap"
                    />
                </ul>
            </div>
        </div>
    </ContentFrame>
</BaseLayout>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const buttons = document.querySelectorAll('.filter-btn');
        const works = document.querySelectorAll('.work-item');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                // Update active state
                buttons.forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');

                // Filter logic
                const filterValue = button.getAttribute('data-filter');
                works.forEach((work) => {
                    const type = work.getAttribute('data-type');
                    const el = work as HTMLElement; // cast to HTMLElement properly 
                    if (filterValue === 'all' || type === filterValue) {
                        el.style.display = '';
                    } else {
                        el.style.display = 'none';
                    }
                });
            });
        });
    });
</script>
