---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentFrame from "../components/ContentFrame.astro";
import NewsPost from "../components/NewsPost.astro";
type NewsPost = {
  frontmatter: { pubDate: string; title: string };
  url: string;
};
const allNews = Object.values(import.meta.glob('./news/news*.md', { eager: true })) as NewsPost[];
const sortedNews = allNews.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
const news = sortedNews;
const pageTitle = "News";
---

<BaseLayout pageTitle={pageTitle}>
    <ContentFrame chapterTitle={pageTitle} rubi="ニュース">
		<div slot="chapter-content" class="chapter-box">
			<div class="chapter-content">
				<ul class="news-list">
					{news.map((news) => <NewsPost postDate={news.frontmatter.pubDate} title={news.frontmatter.title} url={news.url} />)}
				</ul>
			</div>
		</div>
    </ContentFrame>
</BaseLayout>