---
import ContentFrame from "../components/ContentFrame.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import WorkPost from "../components/WorkPost.astro";
const allWorks = Object.values(import.meta.glob('./works/work*.md', { eager: true })) as any[];
const sortedWorks = allWorks.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
const tags = [...new Set(allWorks.map((post: any) => post.frontmatter.type).flat())];
const works = sortedWorks;
const pageTitle = "Works";
---
<BaseLayout pageTitle={pageTitle}>
    <ContentFrame chapterTitle={pageTitle} rubi="作品">
        <div slot="sub-menu" class="tags">
            <button class="tag filter-btn active" data-filter="all">All</button>
            {tags.map((tag) => (   
                <button class="tag filter-btn" data-filter={tag}>{tag}</button>
            ))}
        </div>
        <div slot="chapter-content" class="chapter-box">
            <div class="chapter-content">
                <ul class="work-list">
                    {works.map((work)=> <WorkPost pubyear={work.frontmatter.year} img_url={work.frontmatter.image.url} work_type={work.frontmatter.type} title={work.frontmatter.title} url={work.url} />)   }
                </ul>
            </div>
        </div>
    </ContentFrame>
</BaseLayout>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const buttons = document.querySelectorAll('.filter-btn');
        const works = document.querySelectorAll('.work-item');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                // Update active state
                buttons.forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');

                // Filter logic
                const filterValue = button.getAttribute('data-filter');
                works.forEach((work) => {
                    const type = work.getAttribute('data-type');
                    const el = work as HTMLElement; // cast to HTMLElement properly 
                    if (filterValue === 'all' || type === filterValue) {
                        el.style.display = '';
                    } else {
                        el.style.display = 'none';
                    }
                });
            });
        });
    });
</script>