---
import ContentFrame from "../components/ContentFrame.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import WorkPost from "../components/WorkPost.astro";
const allWorks = Object.values(import.meta.glob('./works/work*.md', { eager: true }));
const sortedWorks = allWorks.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
const works = sortedWorks;
const pageTitle = "Works";
---
<BaseLayout pageTitle={pageTitle}>
    <ContentFrame chapterTitle={pageTitle} rubi="作品">
        <div slot="chapter-content" class="chapter-box">
            <div class="chapter-content">
                <ul class="work-list">
                    {works.map((work)=> <WorkPost pubyear={work.frontmatter.year} img_url={work.frontmatter.image.url} work_type={work.frontmatter.type} title={work.frontmatter.title} url={work.url} />)   }
                </ul>
            </div>
        </div>
    </ContentFrame>
</BaseLayout>