---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import ContentFrame from "../components/ContentFrame.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import WorkPost from "../components/WorkPost.astro";

const allWorks = await getCollection('works');
const activeWorks = allWorks.filter((work: CollectionEntry<'works'>) => !import.meta.env.PROD || !work.data.draft);
const sortedWorks = activeWorks.sort((a: CollectionEntry<'works'>, b: CollectionEntry<'works'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const tags = [...new Set(activeWorks.map((post: CollectionEntry<'works'>) => post.data.type).flat())];
const works = sortedWorks;
const pageTitle = "Works";
---
<BaseLayout pageTitle={pageTitle}>
    <ContentFrame chapterTitle={pageTitle} rubi="作品">
        <div slot="sub-menu" class="tags">
            <button class="tag filter-btn active" data-filter="all">All</button>
            {tags.map((tag) => (   
                <button class="tag filter-btn" data-filter={tag}>{tag}</button>
            ))}
        </div>
        <div slot="chapter-content" class="chapter-box">
            <div class="chapter-content">
                <ul class="work-list">
                    {works.map((work)=> <WorkPost pubyear={work.data.year} img_url={work.data.image?.url} work_type={work.data.type} title={work.data.title} url={`/works/${work.slug}`} />)   }
                </ul>
            </div>
        </div>
    </ContentFrame>
</BaseLayout>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const buttons = document.querySelectorAll('.filter-btn');
        const works = document.querySelectorAll('.work-item');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                // Update active state
                buttons.forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');

                // Filter logic
                const filterValue = button.getAttribute('data-filter');
                works.forEach((work) => {
                    const type = work.getAttribute('data-type');
                    const el = work as HTMLElement; // cast to HTMLElement properly 
                    if (filterValue === 'all' || type === filterValue) {
                        el.style.display = '';
                    } else {
                        el.style.display = 'none';
                    }
                });
            });
        });
    });
</script>