---
const { postDate, img_url, title, url } = Astro.props;

// A simple date formatter
const formattedDate = new Date(postDate).toLocaleDateString('ja-JP', {
  year: 'numeric',
  month: '2-digit',
  day: '2-digit',
}).replace(/\//g, '.');
---
<style>
li {
    background: #fff;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border: 2px solid #9E9E9E;
    margin: 1.5rem 0;
    overflow: hidden; /* This is key for the child's rounded corners to be visible */
    /* transition: transform 0.2s ease-in-out; */
    transition: border-color 0.5s;


}

li:hover {
    /* transform: translateY(-5px); */
    /* box-shadow:0 0 0 2px rgba(232, 107, 121, 1) */
    border: 2px solid #E86B79;

}

a {
    display: flex;
    text-decoration: none;
    color: inherit;
    height: 20vh;
}

.img-container {
    aspect-ratio: 16 / 9; /* Sets a 16:9 aspect ratio */
    background-color: #f0f0f0; /* Placeholder color */
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This makes the image cover the container, cropping it */
}

.text-content {
    padding: 1.7rem;
}

.date {
    font-size: 0.9rem;
    font-weight: bold;
    color: #707070;
    margin: 0;
}

.title {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
    color: #707070;
}

@media screen and (max-width: 636px) {
    a {
        height: 12vh;
    }

    .img-container {
        aspect-ratio: 4 / 3;
    }

    .text-content {
        padding: 2vw 3vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }

    .date {
        font-size: 0.8rem;
        margin: 0;
    }

    .title {
        font-size: 0.8rem;
        margin: 0;
    }
}
</style>

<li>
    <a href={url}>
        <div class="img-container">
            <img src={img_url} alt={`Image for ${title}`} />
        </div>
        <div class="text-content">
            <p class="date">{formattedDate}</p>
            <p class="title">{title}</p>  
        </div>
    </a>
</li>
