---
import BaseLayout from "./BaseLayout.astro";
import TableOfContents from "../components/TableOfContents.astro";
const { frontmatter, headings } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <table>
        <tr>
            <th scope="row">Type</th>
            <td>{frontmatter.type}</td>
        </tr>
        <tr>
            <th scope="row">Year</th>
            <td>{frontmatter.year}</td>
        </tr>
        <tr>
            <th scope="row">Role</th>
            <td>{frontmatter.role}</td>
        </tr>
        <tr>
            <th scope="row">Source</th>
            <td>{frontmatter.source}</td>
        </tr>
        <tr>
            <th scope="row">Link</th>
            <td>{frontmatter.link}</td>
        </tr>
    </table>
    <!-- <p><em>{frontmatter.description}</em></p> -->
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <!-- <div class="tags">{
        frontmatter.tags.map((tag) => (
            <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div> -->
    <slot />
    <aside>
        <TableOfContents headings={headings} />
    </aside>
</BaseLayout>
<style>
    a {
        color: #00539f;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25rem;
        border: dotted 1px #a1a1a1;
        border-radius: .5rem;
        padding: .5rem 1rem;
        font-size: 1.15rem;
        background-color: #f8fcfd;
    }
</style>