---
import BaseLayout from "./BaseLayout.astro";
import TableOfContents from "../components/TableOfContents.astro";
const { frontmatter, headings } = Astro.props;
const formattedDate = new Date(frontmatter.pubDate)
    .toLocaleDateString("ja-JP", {
        year: "numeric",
        month: "2-digit",
        day: "2-digit",
    })
    .replace(/\//g, ".");
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="post-layout">
        <div class="post-container">
            <div class="post-top">
                <p class="post-date">{formattedDate}</p>
                <h1 class="post-title">{frontmatter.title}</h1>
                <div class="img-container">
                    <img
                        src={frontmatter.image.url}
                        alt={frontmatter.image.alt}
                    />
                </div>
                <p class="description">{frontmatter.description}</p>
            </div>
            <article>
                <slot />
            </article>
        </div>
        <aside>
            <TableOfContents headings={headings} />
        </aside>
    </div>
</BaseLayout>
<style>
    .post-date {
        margin: 0;
        font-weight: 500;
        color: #707070;
    }
    .post-title {
        color: #707070;
    }

    h2 {
        color: #707070;
    }

    .post-container {
        display: flex;
        flex-direction: column;
        padding: 7vh 5vw;
    }

    .img-container {
        aspect-ratio: 16 / 9; /* Sets a 4:3 aspect ratio */
        /* background-color: #f0f0f0; Placeholder color */
        margin: 3vh 0;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* This makes the image cover the container, cropping it */
        border-radius: 20px;
        border: 2px #9E9E9E solid;
        margin: 0;
    }
    /*a {
        color: #00539f;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25rem;
        border: dotted 1px #a1a1a1;
        border-radius: .5rem;
        padding: .5rem 1rem;
        font-size: 1.15rem;
        background-color: #f8fcfd;
    }*/
</style>
